{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {}, "class"],
        ["@babel/plugin-proposal-object-rest-spread", {}, "spread"]
    ],
    "env": {
        "test": {
            "presets": ["@babel/preset-env"]
        }
    }
}